@model IEnumerable<LoginRegister.Models.Mail>

@{
    ViewData["Title"] = "Все сообщения";
}
@if (User.Identity.IsAuthenticated)
{
<h1>Все сообщения</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Сообщение</th>
            <th>Дата создания</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mail in Model)
        {
            <tr>
                <td>@mail.Id</td>
                <td>@mail.Email</td>
                <td>@mail.Context</td>
                <td>@mail.CreatedAt.ToString("g")</td>
            </tr>
        }
    </tbody>
</table>
}