@model IEnumerable<LoginRegister.Models.Message>

@if (!Model.Any())
{
    <p>Нет подписок.</p>
}
else
{
    <h1>Избранные товары:</h1>
    foreach (var message in Model)
    {
        <div>
            <a href="@message.GoodUrl">
                <img src="@message.ImageUrl"></img>
            </a>
            <a asp-action="Delete" asp-route-id="@message.Id" class="btn btn-danger">Удалить</a>
        </div>
    }
}