@model IEnumerable<LoginRegister.Models.Message>


@if (!Model.Any())
{
    <p>Нет подписок.</p>
}
else
{
    <h1>Избранные товары:</h1>
    foreach (var message in Model)
    {
        <div>
            @* <p>Email: @message.RecipientEmail</p> *@
            <p>Товар: <a href="@message.GoodUrl">Ссылка на товар</a></p>
        </div>
    }
}